main {
    margin:0.5rem;
}
h1 {
    margin:0 0 1rem 0;
    text-align: center;
    border-bottom: solid black 2px;
    padding: 1rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #666666;
    background-color: #f0f0f0;
}
h1 span.soustitre {
    font-size: 0.8em;
    font-style: italic;
    color:#333333;
}
h2 {
    margin: 1rem 0 0 0;
    padding: 0;
    font-variant: small-caps;
}

a.source {
    display: grid;
    grid-template-columns: 2.5rem auto;
    margin: 0.5rem 0 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    text-decoration: none;
    min-height: 2.4rem;
}
a.source > div {
    display: flex;
    align-items: center;
}
a.source > div.num {
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #00000066;
    color: white;
    margin-right:0.4rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.c1 {
    background-color: var(--c1);
}
.c2 {
    background-color: var(--c2);
}
.c3 {
    background-color: var(--c3);
}
.c4 {
    background-color: var(--c4);
}
.c5 {
    background-color: var(--c5);
}
.c6 {
    background-color: var(--c6);
}
.c7 {
    background-color: var(--c7);
}

span.titre {
    font-weight: bold;
}